version: '3.9'
services:
  db:
    image: postgres:16.3-alpine3.19
    restart: always
    environment:
      - POSTGRES_PASSWORD:${POSTGRES_PASSWORD}
      - POSTGRES_USER:${POSTGRES_USER}
      - POSTGRES_DB:${POSTGRES_DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - db-data:/var/lib/postgresql/data

  migrate-up:
    image: migrate/migrate
    depends_on:
      - db
    volumes:
      - ./database/migrations:/migrations
    command: [
      "-path", "/migrations/",
      "-database", "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB_NAME}?sslmode=disable",
      "up"
    ]

  migrate-down:
    image: migrate/migrate
    depends_on:
      - db
    volumes:
      - ./database/migrations:/migrations
    command: [
      "-path", "/migrations/",
      "-database", "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB_NAME}?sslmode=disable",
      "down"
    ]

  migrate:
    image: migrate/migrate
    depends_on:
      - db
    volumes:
      - ./database/migrations:/migrations
volumes:
  db-data:
