basePath: /api
definitions:
  models.User:
    properties:
      age:
        type: integer
      created_at:
        type: string
      email:
        type: string
      firstName:
        type: string
      id:
        type: string
      lastName:
        type: string
      middleName:
        type: string
      telegramName:
        type: string
      updated_at:
        type: string
    type: object
host: 127.0.0.1:5000
info:
  contact: {}
  description: Word-Flow API docs
  title: Word-Flow app API
  version: "1.0"
paths:
  /user:
    get:
      description: Get users list
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.User'
            type: array
      summary: Get users list
      tags:
      - User
  /user/{id}:
    get:
      description: Get user by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
      summary: Get user by ID
      tags:
      - User
swagger: "2.0"
